body{
    margin: 0;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.vidDiv{
    line-height: 0;
}

#vid{
    line-height: 0;
    object-fit: cover;
    min-width: 100px;
    min-height: 100px;
    width: 100% !important;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

#bar{
    top: 0;
    height: 3vh;
    width: Calc(100% - 2px);
    border: 1px solid #bbb;
    background-color: #eee;
    position: relative;
}

.highlight{
    background-color: rgba(255, 255, 0, 0.7);
    height: 3vh;
    border: none;
    position: absolute
}

.mark{
    background-color: #000;
    width: 0.3vw;
    height: 3vh;
    border: none;
    position: absolute;
    z-index: 99;
}

#currentTime{
    height: 3vh;
    width: 1vw;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    background-color: white;
    position: absolute;
    z-index: 100;
}

#bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button{
    width: 10vw;
    height: 5vh;
    background-color: white;
    font-family: sans-serif;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#advanced{
    position: relative;
    top: 2vh;
    left: 2vw;
    display: none;
}

#advanced div{
    display: flex;
    padding-top: 1vh;
    padding-bottom: 1vh;
}